
.popupContent {
    display: flex;
    flex-direction: column;
  }
  
  .searchInput {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .option {
    border: 1px solid #ccc;
    padding: 10px 24px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    margin: 0 5px;
    width: 109px;
  }
  
  .inUseSection {
    margin-top: 20px;
  }
  
  .inUseItem {
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
  }

  .optionIcon{
    background: #f1f4f6;
    padding: 12px;
    border-radius: 3px;
  }
  .searchInput{
    background: #f8f9fa;
    height: 48px;
}